{% import "partials/language.html" as lang with context %}

{% if page.meta.git_revision_date_localized or committers %}
<div class="md-source-file">
    <small>
        {% if page.meta.git_revision_date_localized %}
            Last updated: {{ page.meta.git_revision_date_localized }}
        {% endif %}
	{% if page.meta.git_revision_date_localized and committers %}
            •
	{% endif %}
        {% if committers %}
            Contributors: 
            <div class="md-source-file__iconwrapper">
                <span class="md-source-file__fact">
                    <nav>
                    {% for author in committers %}
                        {% if author.name != "web-flow" %}
                            <a
                            href="{{ author.url }}"
                            class="md-author"
                            title="@{{ author.login }}"
                            target="_blank"
                            >
                            {% set separator = "&" if "?" in author.avatar else "?" %}
                            <img
                                src="{{ author.avatar }}{{ separator }}size=72"
                                alt="{{ author.name or 'GitHub user' }}"
                            />
                            </a>
                        {% endif %}	
                    {% endfor %}                
                    </nav>
                </span>
            </div>
        {% endif %}
    </small>
</div>
{% endif %}
