nav#nav.navbar
	.navContainer
		a.logo(href='index.html#hero')
			img(data="logo/logo.png", alt="Ahmed Thahir Logo")
		a#togglebtn.toggle-button(href='javascript:void(0);')
			span.bar
			span.bar
			span.bar
		#nlink.navbar-links
			ul
				li
					a(href='our_sponsors.html') Our Sponsors
				li
					a(href='sponsor_us.html') Sponsor Us

section#contact
	.icons
		a(href="https://www.linkedin.com/in/ahmedthahir", target="_blank")
			img(data="icon/linkedin.svg", alt="Linkedin")
		a(href="mailto:ahmedthahir66@gmail.com", target="_blank")
			img(data="icon/mail.svg", alt="Email")
		a(href="https://www.instagram.com/ahmedthahir_", target="_blank")
			img(data="icon/instagram.svg", alt="Instagram")
		a(href="tel:+971557959933", target="_blank")
			img(data="icon/phone.svg", alt="Mobile Phone Number")