extends _layout.jade

block content
	section(bg="team.jpg" style="background-position: top")#about.content
		h1 Recommendations
		.banners
			div
				img(data="logo/priyank.jpg" alt="Dr. Priyank Upadhyaya")
				p Formula Student Supervisor
				br
				p Dr. Priyank Upadhyaya
				br
				p HOD, Mechanical Engineering, BITS Pilani Dubai Campus
				br
				p He is highly motivated, and brings a different perspective on the table. He constantly looks for adding more value in terms of technical learning as well as efficiency. For an undergraduate student, he is very mature, good in written and oral communication and, most importantly respectful to peers and mentors.
			div
				img(data="logo/duminda.jpg" alt="Duminda Dahanayake")
				p Emirates Intership Supervisor
				br
				p Duminda Dahanayake
				br
				p Operations Research Manager,  Revenue Optimization, Emirates Group
				br
				p I was impressed by his positive, hard-working attitude during the internship: he was highly motivated and eager to make the most of his time at Emirates. He was a productive team member during the initial training with other interns and worked independently on his final project – I was pleased to see him demonstrate his confidence to seek out guidance from subject matter experts in a real commercial environment. He was always able to deliver on all work assigned to him ahead of our challenging deadlines.